$global-background-color: #062123;
$global-text: #f6fdfd;
$secondary-color: #0a3034;
$primary-color : #db3e33;
$accent-color : #8f2119;


body{
    background-color: $global-background-color;
    color: $global-text;
}